.suggestions {
  /* Set the height of suggestion list in relation to the number of list. */
  max-height: 200px;
  overflow-y: auto;
  /* Fixed the position so it wont be bump up by the suggestion list. */
  position: fixed;
  /* Aligned the suggestion list to the input list. */
  width: 290px;
}

.suggestions ul {
  /* Make sure that the list starts on another line not horizontally*/
  display: block;
}

.suggestions li {
  /* Sets the font of list to black with a bit of padding
  and a background color */
  color: black;
  padding: 10px;
  background-color: whitesmoke;
}

ul {
  /* TODO */
  /* Removes the marker and default padding of ul */
  list-style-type: none;
  padding: 0;
}

body {
  /* Make the body responsive to different screen sizes and 
  make sure the contents are always centered. */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Sets the background image to center and make sure it does 
  not repeat and contains the whole image. */
  background-image: url("./fruit\ Bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  /* Removes the default margin and padding of the font style*/
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: "Sassy Frass", cursive;
  color: #b7ec07;
  /* Designed the font with embossed-like feature */
  text-shadow: 
    /* Add a white shadow to the top-left of the text */ 
    -2px -1px 0 #fff,
    /* Add a dark shadow to the bottom-right of the text */ 
    2px 2px 0 #333;
  /* Added a bit of space between the input box */
  margin-bottom: 5px;
}

/* Aligned the input box to the font length and 
  make rounded edges. */
input[type="text"] {
  width: 280px;
  border-radius: 5px;
}
